In [1]:
using QuadGK
@show value, tol = quadgk(cos, -2π,2π)

(value, tol) = quadgk(cos, -2π, 2π) = (-1.5474478810961125e-14, 5.7846097329025695e-24)

(-1.5474478810961125e-14, 5.7846097329025695e-24)

In [8]:
using DataFrames, RDatasets  # RDatasets provides good standard data examples from R

commodities = ["crude", "gas", "gold", "silver"]
last_price = [4.2, 11.3, 12.1, missing]
df = DataFrame(commod = commodities, price = last_price)
@show df
@show typeof(df)

df = 4×2 DataFrame
│ Row │ commod │ price    │
│     │ String │ Float64? │
├─────┼────────┼──────────┤
│ 1   │ crude  │ 4.2      │
│ 2   │ gas    │ 11.3     │
│ 3   │ gold   │ 12.1     │
│ 4   │ silver │ missing  │
typeof(df) = DataFrame

DataFrame

In [12]:
df.price
#uni

4-element Array{Union{Missing, Float64},1}:
  4.2
 11.3
 12.1
   missing

In [14]:
df.commod

4-element Array{String,1}:
 "crude"
 "gas"
 "gold"
 "silver"